*{
    padding: 0;
    margin: 0;
}

header{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

#cardBtn img{
    width: 100%;
}

#cardBtn{
    width: 50px;
    border: none;
    background: transparent;
}